name: Prepare Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version date YYYY-MM-DD'
        required: true
      type:
        description: 'What type of release is this'
        required: true
        default: 'release'
        type: choice
        options:
        - release
        - rc

jobs:
  create:
    name: Prepare Pull Request
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set git identity
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
      - name: Validate version format
        run: |
          [[ "${{ inputs.version }}" =~ ^[0-9]{4}-[0-9]{2}-[0-9]{2}$ ]] || (echo "::error::Version ${{ inputs.version }} not in YYYY-MM-DD format" && exit 1)
          exit 0
      - name: Merge stable, but keep master contents
        run: |
          git merge -s ours origin/stable
          git log -1
          git log origin/stable..master --oneline
          git checkout -B auto-${{ inputs.type }}-${{ inputs.version }}
          git push --set-upstream origin auto-${{ inputs.type }}-${{ inputs.version }}
      - name: Create pull request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: auto-${{ inputs.type }}-${{ inputs.version }}
          destination_branch: stable
          pr_title: Release Preparations for ${{ inputs.type }}-${{ inputs.version }}
          pr_body: |
            This merges current master into stable.

            - There are things to do first
            - I don't know what yet

